<div class = "top-chat">
  <div class = "user-name">hogefuga</div>
  <div class = "chat-end">
    <a href = "#">チャットを終了する</a>
  </div>
</div>

<div class = "center-chat">
  <div class = "message">
    <div class = "messages">
      <div class = message-1>Tom</div>
      <div class = message-2>2020/3/31（Wed）12:43:30</div>
    </div>
    <div class = "message">
      <div class = message-3>おはよう</div>
    </div>
  </div>
  <div class = "message">
    <div class = "messages">
      <div class = message-1>Tom</div>
      <div class = message-2>2020/3/31（Wed）12:43:30</div>
    </div>
    <div class = "message">
      <div class = message-3>おはよう</div>
    </div>
  </div>
</div>

<div class = "bottom-chat">
  <div class = "form">
    <input class = "from-text", placeholder = "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class = "send-submit", type = "submit", value = "送信">
</div>
