<div class = "top-bar">
  <div class = "link-1">
    <a href = "#">Tom</a>
  </div>
  <div class = "link-2">
    <a href = "#">チャットを作成する</a>
  </div>
</div>

<div class = "center-bar">
  <div class = "chatroom">
    <div class = "chatname">
      <a href = "#">techroom1</a>
    </div>
  </div>
  <div class = "chatname">
    <div class = "chatroom">
      <a href = "#">techroom2</a>
    </div>
  </div>
</div>