/* wrapper */
.wrapper{
  display:flex;
}

/* side-bar */
.side-bar{
  height:100vh;
  width:300px;
  background-color:#253141;
}
.top-bar{
  height:100px;
  padding:0 20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.link-1 a{
  font-size:16px;
  color:#FAFAFA;
  text-decoration:none;
}
.link-2 a{
  font-size:10px;
  color:deepskyblue;
  text-decoration:none;
  border:1px solid lightblue;
  padding:14px;
}
.center-bar{
  height:calc(100vh - 100px);
  background-color:#2F3E51;
  padding:0 20px;
  overflow: scroll;
}
.chatroom{
  padding:20px 0 40px 0;
}
.chatroom a{
  color:white;
  text-decoration:none;
}

/* main-chat */
.main-chat{
  height:100vh;
  width:calc(100vw - 300px);
  background-color:#ffffff;
}
.top-chat{
  height:100px;
  padding:0 40px;
  display:flex;
  justify-content:space-between;
}
.user-name{
  margin-top:36px;
  font-size:24px;
  color:#333;
}
.chat-end{
  margin-top:40px;
}
.chat-end a{
  color:darkred;
  border:1px solid darkred;
  padding:20px;
  text-decoration:none;
}
.center-chat{
  height:calc(100vh - 100px - 90px);
  background-color:#FAFAFA;
  padding:46px 40px 0 40px;
}
.messages{
  display:flex;
}
.message{
  margin-top:10px;
}
.message-1{
  font-size:16px;
  color:#434A54;
  margin-right:10px;
}
.message-2{
  font-size:12px;
  color:#999;
}
.message-3{
  font-size:14px;
  color:#434A54;
  padding-bottom:40px;
}
.bottom-chat{
  height:90px;
  background-color:#DDDDDD;
  padding:20px 40px;
  display:flex;
  justify-content:space-between
}
.form{
  width:100%;
  background-color:white;
  display:flex;
}
.from-text{
  height:50px;
  width:100%;
  border:none;
  padding-left:10px;
}
.send-submit{
  background-color:#38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

/* form-image */
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}